name: Java CI with Gradle

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Run SUT in background
        run: java -jar artifacts/app-card-delivery.jar &
      
      - name: Build and Test with Gradle
        run: ./gradlew test --info -Dselenide.headless=true
